
<app-navbar></app-navbar>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
<!-- <app-request></app-request> -->


<!-- 
<div class="container">
  <h1>House Keeping Service</h1>

 

  <div class="HouseKeepings-containers">
    <div class="HouseKeeping-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()"  class="flex">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" name="Name" [(ngModel)]="houseKeeping.name" >
        </div>
        <div class="form-group">
          <label for="">Date</label>
          <input type="date" name="Date" [(ngModel)]="houseKeeping.date">
        </div>
        
          <div class="form-group form-group-inline">
            <div>
              <div>
                <label for="">Time Request</label>
                <input type="time" name="TimeReq" [(ngModel)]="houseKeeping.timeReq">
              </div>
            <div>
              <label for="">Time In</label>
              <input type="time" name="TimeIn" [(ngModel)]="houseKeeping.timeIn">
            </div>
            <div>
              <label for="">Time Out</label>
              <input type="time" name="TimeOut"[(ngModel)]="houseKeeping.timeOut">
            </div>
            </div>
           </div>
           
            
         
        <div class="form-group">
            <button>Submit</button>
          </div>
      </form>

      <div class="search">

              <label class="search-tag" for="">Search</label>
              <input type="text" class="form-control" [(ngModel)]="searchText"  >
          </div>
       
    </div>
    <div class="houseKeepings-grid">
      <div class="houseKeeping-row" *ngFor="let houseKeeping of houseKeepings |filter:searchText " >
        <div class="houseKeeping-row-details"  (click)="populateForm(houseKeeping)" > 
          <span>{{houseKeeping.name}}</span>
          <span>{{houseKeeping.date}}</span>
          <span>{{houseKeeping.timeReq}}</span>
          <span>{{houseKeeping.timeIn}}</span>
          <span>{{houseKeeping.timeOut}}</span>
        </div>
        <div class="houseKeeping-row-action">
          <a (click)="deleteHouseKeeping(houseKeeping.id)"><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
</div> -->