.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid red;
    width: 80% ;
    margin: auto;
    margin-top: 7%;
    
}
.name
{
    display: flex;
    flex-direction: column;
    font-size: larger;
    
    

}
label
{
    margin: 30% 0 auto;
    border: solid green;
    outline: none;
    display: block;
    width: 200px;
    
}
.details
{
    display: flex;
    flex-direction: column;
    
    font-size: larger;
}

